<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
        <% if (user) { %>
          <form action="/logout" method="POST">
        <div class="">Hey <%= user.email %>!  <button class="btn btn-primary-sm" type="submit" style="border-color: black;">Logout</button></div>
      </form>
        <%} else { %>
     <form action="/login" method="POST">
      <div class="input-group input-group-sm"></div>
      <input type="text" id="username" class="form-control" name="username" style="width: 190px">
      <button class="btn btn-primary btn-sm" style="border-color: white; background-color: black; color: white;">Login</button>
      </form>
      <% } %>
      </div>
  </nav>
</header>



