<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>New URL - TinyApp Example</title>
</head>

<%- include ('partials/_header.ejs') %>

  <main style="margin: 1em;">
    <h3>Create Matchups</h3>
    <form class="form-inline" action="/urls" method="POST">
      <div class="form-group mb-2">
        <label for="longURL">Select Teams:</label>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Team 1
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Anaheim Ducks</a>
            <a class="dropdown-item" href="#">Arizona Coyotes</a>
            <a class="dropdown-item" href="#">Boston Bruins</a>
            <a class="dropdown-item" href="#">Buffalo Sabres</a>
            <a class="dropdown-item" href="#">Calgary Flames</a>
            <a class="dropdown-item" href="#">Carolina Hurricanes</a>
            <a class="dropdown-item" href="#">Colorado Avalanche</a>
            <a class="dropdown-item" href="#">Columbus Blue Jackets</a>
            <a class="dropdown-item" href="#">Dallas Stars</a>
            <a class="dropdown-item" href="#">Detroit Red Wings</a>
            <a class="dropdown-item" href="#">Edmonton Oilers</a>
            <a class="dropdown-item" href="#">Florida Panthers</a>
            <a class="dropdown-item" href="#">Los Angeles Kings</a>
            <a class="dropdown-item" href="#">Minnesota Wild</a>
            <a class="dropdown-item" href="#">Montreal Canadiens</a>
            <a class="dropdown-item" href="#">Nashville Predators</a>
            <a class="dropdown-item" href="#">New Jersey Devils</a>
            <a class="dropdown-item" href="#">New York Islanders</a>
            <a class="dropdown-item" href="#">New York Rangers</a>
            <a class="dropdown-item" href="#">Ottawa Senators</a>
            <a class="dropdown-item" href="#">Philadelphia Flyers</a>
            <a class="dropdown-item" href="#">Pittsburgh Penguins</a>
            <a class="dropdown-item" href="#">San Jose Sharks</a>
            <a class="dropdown-item" href="#">Seattle Kraken</a>
            <a class="dropdown-item" href="#">St Louis Blues</a>
            <a class="dropdown-item" href="#">Tampa Bay Lightning</a>
            <a class="dropdown-item" href="#">Toronto Maple Leafs</a>
            <a class="dropdown-item" href="#">Vancouver Canucks</a>
            <a class="dropdown-item" href="#">Vegas Golden Knights</a>
            <a class="dropdown-item" href="#">Washington Capitals</a>
            <a class="dropdown-item" href="#">Winnipeg Jets</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Team 2
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Anaheim Ducks</a>
            <a class="dropdown-item" href="#">Arizona Coyotes</a>
            <a class="dropdown-item" href="#">Boston Bruins</a>
            <a class="dropdown-item" href="#">Buffalo Sabres</a>
            <a class="dropdown-item" href="#">Calgary Flames</a>
            <a class="dropdown-item" href="#">Carolina Hurricanes</a>
            <a class="dropdown-item" href="#">Colorado Avalanche</a>
            <a class="dropdown-item" href="#">Columbus Blue Jackets</a>
            <a class="dropdown-item" href="#">Dallas Stars</a>
            <a class="dropdown-item" href="#">Detroit Red Wings</a>
            <a class="dropdown-item" href="#">Edmonton Oilers</a>
            <a class="dropdown-item" href="#">Florida Panthers</a>
            <a class="dropdown-item" href="#">Los Angeles Kings</a>
            <a class="dropdown-item" href="#">Minnesota Wild</a>
            <a class="dropdown-item" href="#">Montreal Canadiens</a>
            <a class="dropdown-item" href="#">Nashville Predators</a>
            <a class="dropdown-item" href="#">New Jersey Devils</a>
            <a class="dropdown-item" href="#">New York Islanders</a>
            <a class="dropdown-item" href="#">New York Rangers</a>
            <a class="dropdown-item" href="#">Ottawa Senators</a>
            <a class="dropdown-item" href="#">Philadelphia Flyers</a>
            <a class="dropdown-item" href="#">Pittsburgh Penguins</a>
            <a class="dropdown-item" href="#">San Jose Sharks</a>
            <a class="dropdown-item" href="#">Seattle Kraken</a>
            <a class="dropdown-item" href="#">St Louis Blues</a>
            <a class="dropdown-item" href="#">Tampa Bay Lightning</a>
            <a class="dropdown-item" href="#">Toronto Maple Leafs</a>
            <a class="dropdown-item" href="#">Vancouver Canucks</a>
            <a class="dropdown-item" href="#">Vegas Golden Knights</a>
            <a class="dropdown-item" href="#">Washington Capitals</a>
            <a class="dropdown-item" href="#">Winnipeg Jets</a>
          </div>
        </div>
      </div>
    </form>
  </main>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  </body>

</html>


<!-- <div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button> -->